@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-BoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-ExtraBold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-Italic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-Medium.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-MediumItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans-SemiBoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-Bold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-BoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-ExtraBold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-ExtraBoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-Italic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-Light.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-LightItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-Medium.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-MediumItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-Regular.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-SemiBold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_Condensed-SemiBoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-Bold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-BoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-ExtraBold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-ExtraBoldItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-Italic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-Light.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-LightItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-Medium.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-MediumItalic.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-Regular.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-SemiBold.ttf') format('truetype'),
         url('fonts/Open_Sans/static/OpenSans_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}