@import "../fonts/fonts.css";
@import "table.css";

* {
    -fx-primary: #2b3254;
    -fx-primary-light: #334585;
    -fx-secondary: #a3b8ff;
    -fx-complementary: #f1e9c3;
    -fx-contrast: crimson;
    -fx-darktext: #3f3e3e;
}

.root {
    -fx-background-color: #2b3254;
}


HBox {
    margin: 1em 0 1em 0;
    -fx-spacing: 1em;
    padding: 1em;
    -fx-padding: 1em;
}

.header {
    min-height: 8em;
    -fx-min-height: 8em;
    max-height: 8em;
    -fx-max-height: 8em;

    z-index: -1;
    -fx-view-order: -1;

    -fx-background-color: #111836; /* to co w canvie kornela */
}

/* VBOX */
.choiceContainer {
    -fx-background-color: #111836;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
    /* -fx-padding: 1em; */

    /* margin: 0 0 0 50px; */
    /* -fx-spacing: 0.5em; */
}

/* VBOX */
.choiceButtonList {
    -fx-margin: 0 0.2em; 
    -fx-spacing: 0.2em;
    -fx-border-radius: 5px; /* idk czy działa */
}

.button,
.selectButton {
    -fx-background-color: #3db7e4;
    -fx-background-radius: 10px;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    cursor: hand;
    -fx-cursor: hand;
    min-width: 10em;
    -fx-min-width: 10em;
    font-size: 2em;
    -fx-font-size: 2em;
    font-weight: 800;
    -fx-font-weight: 800;
}

MFXButton .mfx-ripple-generator {
    color: -fx-darktext;
    -fx-text-fill: -fx-darktext;

    border-radius: 0.5em;
    -fx-background-radius: 0.5em;

    cursor: hand;
    -fx-cursor: hand;

    -mfx-ripple-color: -fx-contrast;
    -mfx-background-opacity: 0.2;
    -mfx-ripple-opacity: 0.2;
    -mfx-ripple-radius: 0.5em;
    -mfx-auto-clip: true;
}


#scrollPane {
    background-color: -fx-complementary;
    -fx-background-color: -fx-complementary;

    min-width: 20em;
    -fx-min-width: 20em;

    min-height: inherit;
    -fx-min-height: inherit; 
}

/* MFXScrollPane .mfx-scroll-pane {
    background-color: transparent;
    -fx-background-color: transparent; */
/* 
    -track-color: rgb(255, 255, 255, 0.3);
    -thumb-color: white;
    -thumb-hover-color: -fx-primary; */
/* } */

#teamButtonContainer {
    background-color: -fx-complementary;
    -fx-background-color: -fx-complementary;

    padding: 1em;
    -fx-padding: 1em;

    margin: 0.1em 0;
    -fx-spacing: 0.1em;

}

.teamButton {
    background-color: -fx-primary;
    -fx-background-color: -fx-primary;

    color: -fx-complementary;
    -fx-text-fill: -fx-complementary;

    font-size: 1.5em;
    -fx-font-size: 1.5em;
}

.teamButton:hover {
    background-color: -fx-contrast;
    -fx-background-color: -fx-contrast;
}
/*     ******************************* */
.gameweekChoiceBox {
    -fx-min-width: 100px;
    -fx-max-width: 220px;
    -fx-pref-height: 5px;
    -fx-padding: 0 0 0 15;
	-fx-background-color: #3db7e4;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-text-fill: #323232;
    -fx-font-family: 'Open Sans' Sans-Serif;
    -fx-font-weight: bold;
}

.gameweekChoiceBox * {
    -fx-padding: 0;
}

.gameweekChoiceBox .text-input {
    -fx-background-color: transparent;
}

.gameweekChoiceBox .text-field {

}

.gameweekChoiceBox .floating-text { /* ten tekst co po kliknięciu idzie do góry */
    -fx-text-fill: #323232;
    -fx-padding: 0 0 0 5;
    -fx-font-size: 18px;
    -fx-font-family: 'Open Sans' Sans-Serif;
    -fx-font-weight: bold;
}

.gameweekChoiceBox .caret .mfx-font-icon {  /* kolor strzałeczki */
    -mfx-color: white;
}

.gameweekChoiceBox .caret {

}

.gameweekChoiceBox .arrow-button {
    -fx-background-color: white;
}

#scrollPane { /* to takie z boku */
}

