@import "../fonts/fonts.css";
@import "colors.css";
@import "competition.css";
@import "table.css";
@import "team.css";
@import "page.css";

.root {
    -fx-font-family: "Open Sans Bold";
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-floral-white;
}

.header {
    -fx-background-color: -fx-primary-dark;
    -fx-min-height: 6em;
    -fx-max-height: 6em;
    -fx-view-order: -1;
    -fx-padding: 0 0 0 5em;
    -fx-font-size: 22px;
}

.league-choice-container,
.season-choice-container {
    -fx-background-color: -fx-primary-dark;
    -fx-background-radius: 0.4em;
    -fx-padding: 1.5em 1em 1em 1em;

    -fx-alignment: top-center;
}

.choice-button-list {
    -fx-margin: 0 0.2em;
}

.button {
    -fx-cursor: hand;
}

.league-choice-container .button,
.season-choice-container .button {
    -fx-pref-width: 16em;
    -fx-min-height: 3em;
    -fx-background-color: -fx-primary-light;
    -fx-background-radius: 0;
    -fx-text-fill: -fx-floral-white;
    -fx-label-padding: 0;
}

.league-choice-container .button .mfx-ripple-generator,
.season-choice-container .button .mfx-ripple-generator {
    -mfx-ripple-color: -fx-floral-white;
    -mfx-background-opacity: 0.2;
    -mfx-ripple-opacity: 0.2;
    -mfx-ripple-radius: 0.5em;
    -mfx-auto-clip: true;
}

.league-choice-container .selected-league-button,
.season-choice-container .selected-season-button {
    -fx-background-radius: 0.2em;
    -fx-border-width: 0 0 1px 0;
    -fx-border-insets: 0 0 -1px 0;
    -fx-border-color: -fx-sunset;
    -fx-view-order: -2;
}

.league-choice-container:hover .selected-league-button,
.season-choice-container:hover .selected-season-button {
    -fx-border-width: 0 0 2px 0;
    -fx-border-insets: 0 0 -2px 0;
    -fx-border-color: -fx-floral-white;
}

.league-choice-container .choice-button:hover,
.season-choice-container .choice-button:hover {
    -fx-background-color: -fx-oxford-blue;
}

/* ------------------------------------------ */

.team-scroll-bar {
    -fx-padding: 1em 3em;
    -fx-background-color: -fx-primary-dark;
}

.team-bar {
    -fx-background-color: -fx-primary-dark;
    -fx-font-size: 16px;
    -fx-spacing: 0.2em;
}

.team-bar .button {
    -fx-pref-width: 14em;
    -fx-min-height: 3em;
    -fx-background-color: -fx-primary-light;
    -fx-background-radius: 0.4em;
    -fx-text-fill: -fx-floral-white;
    -fx-label-padding: 0;
}

.team-bar .button .mfx-ripple-generator,
.team-bar .button .mfx-ripple-generator {
    -mfx-ripple-color: -fx-floral-white;
    -mfx-background-opacity: 0.2;
    -mfx-ripple-opacity: 0.2;
    -mfx-ripple-radius: 0.5em;
    -mfx-auto-clip: true;
}

.team-bar .button:hover,
.team-bar .button:hover {
    -fx-background-color: linear-gradient(to right, -fx-burgundy, -fx-butterscotch);
    -fx-text-fill: -fx-sunset;
}

.team-scroll-bar .scroll-bar:vertical,
.team-scroll-bar .scroll-bar:vertical .track,
.team-scroll-bar .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}

.team-scroll-bar .scroll-bar .increment-button,
.team-scroll-bar .scroll-bar .decrement-button {
    -fx-padding: 2;
    -fx-opacity: 0;
}

.team-scroll-bar .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, -fx-dark-red, -fx-butterscotch);
}

.entity-pane {
    -fx-background-color: -fx-primary;
    -fx-alignment: center;
}