.player-page-container {
    -fx-hgap: 3em;
    -fx-vgap: 2em;
    /* -fx-background-color: -fx-contrast;
    -fx-grid-lines-visible: true; */
}

.player-page-container .VBox {
    -fx-alignment: center;
}