@import "../fonts/fonts.css";

.table-view {
    -fx-font-family: "Open Sans";
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #3f1052; 
}

.table-view .column-header .label{
    -fx-text-fill: #fbfafa;
    -fx-font-weight: bold; 
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
   -fx-cell-size: 45px;
  -fx-alignment: center-left;
  -fx-background-color: #303134;
  -fx-border-color: #303134;
  -fx-text-fill: #fbfafa;
  -fx-alignment: CENTER_LEFT;  
}




/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: white;

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: rgb(171, 171, 171);
	-fx-background-radius: 2em;

}
