/*
.team-table {
    -fx-font-family: "Open Sans";
}

.team-table .column-header,
.team-table .column-header-background .filler {
    -fx-background-color: #3f1052; 
}

.team-table .column-header .label{
    -fx-text-fill: #fbfafa;
    -fx-font-weight: bold; 
    -fx-alignment: CENTER_LEFT;
}

.team-table .cell{
   -fx-cell-size: 45px;
  -fx-alignment: center-left;
  -fx-background-color: #303134;
  -fx-border-color: #303134;
  -fx-text-fill: #fbfafa;
  -fx-alignment: CENTER_LEFT;  
}

.team-table .increment-button ,
.team-table .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

.team-table .scroll-bar:horizontal .track,
.team-table .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: white;

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.team-table .scroll-bar:horizontal .thumb,
.team-table .scroll-bar:vertical .thumb {
    -fx-background-color: rgb(171, 171, 171);
	-fx-background-radius: 2em;
} */
